<div class="pd-header">
    <div class="container">
        <div class="pd-w-100">
            <div class="mt-5 text-center fs-4">
                <i class="fas fa-file text-warning"></i>
                <span class="fw-bold">
                Xác nhận đơn hàng
                </span>
            </div>

            <div class="row my-5">
                <div class="col-6">
                    <div class="pd-12">
                        <div class="d-flex align-items-center py-3 header">
                                <span class="fw-bold fs-5">
                                    Giao hàng
                                </span>
                                
                        </div>
                        <div class="line_bottom"></div>
                        <div class="d-flex gap-3 my-2 align-items-center address-deli">
                            <img class="img-min" src="https://minio.thecoffeehouse.com/images/tch-web-order/Delivery2.png" alt="">
                            <div>
                                145 Điện Biên Phủ, Phường 15, Bình Thạnh, Thành phố Hồ Chí Minh
                            </div>
                            <div>
                                <i class="fas fa-angle-right fs-3"></i>
                            </div>
                        </div>
                        <form>
                             <input type="text" class="form-control input-text-address" placeholder="Tên người nhận">
                             <input type="text" class="form-control input-text-address" placeholder="Số điện thoại">
                             <input type="text" class="form-control input-text-address" placeholder="Thêm hướng dẫn giao hàng">
                        </form>
                        <div class="d-flex align-items-center py-3 header">
                                <span class="fw-bold fs-5">
                                    Phương thức thanh toán
                                </span>
                                
                        </div>
                        <div class="line_bottom"></div>
                        <div class="form-check my-3 fs-5">
                            <input class="form-check-input rad-primary" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                               <i class="fas fa-money-bill text-success"></i> Tiền mặt
                            </label>
                        </div>
                     
                    </div>
                </div>
                <div class="col-6">
                    <div class="bd-cart">
                        <div>
                            <div class="d-flex justify-content-between align-items-center py-3 header">
                                <span class="fw-bold fs-5">
                                    Các món đã chọn
                                </span>
                                <div class="btn btn-no-background text-dark">
                                    Thêm món
                                </div>
                            </div>
                            <div class="line_bottom">

                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="line-product d-flex align-items-center gap-2 my-2">
                                        <div class="btn">
                                            <i class="fas fa-pen color-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="fw-bold">
                                            1 x Cà Phê Sữa Nóng
                                            </div>
                                            <div>
                                                Size : Vừa
                                            </div>
                                            <div>
                                                Topping : Phô mai
                                            </div>
                                            <div>
                                                Note: Ít đá
                                            </div>
                                        </div>
                                        <div>
                                            35.000d
                                        </div>
                                    </div>
                                    
                                    <div class="line-product d-flex align-items-center gap-2 my-2">
                                        <div class="btn">
                                            <i class="fas fa-pen color-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="fw-bold">
                                            1 x Cà Phê Sữa Nóng
                                            </div>
                                            <div>
                                                Size : Vừa
                                            </div>
                                            <div>
                                                Topping : Phô mai
                                            </div>
                                            <div>
                                                Note: Ít đá
                                            </div>
                                        </div>
                                        <div>
                                            35.000d
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="fw-bold fs-5 py-2">
                                Tổng cộng
                            </div>
                            <div class="line_bottom"></div>
                            <div class="">
                                <div class="py-3 d-flex justify-content-between align-items-center bd-bottom">
                                    <span class="">
                                    Thành tiền
                                    </span>
                                    <span class="">
                                        35.000VND
                                    </span>
                                </div>
                                <div class="py-3 d-flex justify-content-between align-items-center bd-bottom">
                                    <span class="">
                                    Phí vận chuyển
                                    </span>
                                    <span class="">
                                        10.000VND
                                    </span>
                                </div>
                                 <div class="py-3 ">
                                    <span class="color-primary">Khuyến mãi</span>
                                </div>
                                <div class="bg-getAll py-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        
                                            <div class="text-white">
                                                <div>Thành tiền</div>
                                                <div class="fw-bold">45.000 VND</div>
                                            </div>
                                            <div class="btn btn-light color-primary">
                                                Đặt hàng
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>