
<div class="container pd-admin">
    <div class="d-flex align-items-center flex-wrap gap-3 text-white">
        <div class="table-dashboard text-center bg-danger">7 Category</div>
        <div class="table-dashboard text-center bg-warning">124 Item Category</div>
        <div class="table-dashboard text-center bg-success">1400 Product</div>
        <div class="table-dashboard text-center bg-dark">6 Đơn hàng chưa xác nhận</div>
        <div class="table-dashboard text-center bg-primary">5 Bình luận chưa đọc</div>
    </div>
</div>