<div class="pd-header">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">


            {{#with post}}
            <div class="box-post container rounded my-4 p-4" id="contentPost">
                {{{this.content}}}
            </div>
            {{/with}}
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {

    })
</script>