<div class="container-fluid background-login-manager d-flex">
    <div class="test-img mb-img">
        <img src="https://i.graphicmama.com/uploads/2019/4/5cb466438934c-hand-drawn-illustration-of-businessman-vector-character.png"
            alt="">
    </div>
    <div class="form-login-manager pd-form-login">
        <div class="title-frm-login fw-bold fs-3 my-2 text-center">
            LOGIN
        </div>
        <form class="w-100" method="POST" action="authenticationAccount">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label color-light-manager">ID</label>
                <input type="text" name="user" class="form-control" id="exampleInputEmail1">

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label color-light-manager">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-login-manager btn-danger">Submit</button>
            </div>
            <span class="text-danger fs-min-plus">
                *Hotline: 0909099009
            </span>
            {{#if msg}}
            <div class="alert alert-danger mb-0 mt-4 fw-bold" role="alert">
                {{this.msg}}
            </div>
            {{/if}}
         
        </form>
    </div>
    <div class="test-img-2 mb-img d-flex flex-row-reverse">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/welcome-typography-with-business-people-characters-2710146-2263951.png"
            alt="">
    </div>
    
</div>