{{>header}}
<div class="mg-hd">
     <div class="background-client-redirect">
         <div class="container">
             <div class="row">
                 <div class="col-12">
                     <div class="client-redirect">
                         <a href="" class="a-none text-danger fs-min-plus">
                               <i class="fas fa-home mx-2"></i> Trang chủ
                         </a>
                             <i class="fas fa-chevron-right mx-2 fs-min"></i>
                        <a href="" class="a-none text-danger fs-min-plus">
                               Điện thoại
                         </a>
                         <i class="fas fa-chevron-right mx-2 fs-min"></i>
                        <a href="" class="a-none text-danger fs-min-plus">
                                Apple
                         </a>
                         <i class="fas fa-chevron-right mx-2 fs-min"></i>
                        <a href="" class="a-none text-danger fs-min-plus client-redirect-active">
                              Iphone 13 Pro Max
                         </a>
                     </div>
                 </div>
             </div> 
        </div> 
    </div>
</div>

<div class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-products d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                          <div class="header-products-title fs-4 fw-bold">
                        Samsung Galaxy Z Flip3 5G
                    </div>
                     <div class="header-products-rating d-flex align-items-center mx-3">
                         <div class="star-rating fs-min mx-1">
                                    <span class="star-active">
                                          <i class="fas fa-star"></i>
                                    </span>
                                     <span class="star-active">
                                          <i class="fas fa-star"></i>
                                    </span>
                                     <span class="star-active">
                                          <i class="fas fa-star"></i>
                                    </span>
                                     <span class="star-active">
                                          <i class="fas fa-star"></i>
                                    </span>
                                   
                                     <span class="">
                                          <i class="fas fa-star"></i>
                                    </span>
                        </div>
                        <div class="count-number-rating fs-min-plus text-danger mx-1">
                                    5 đánh giá
                        </div>
                     </div>
                    </div>
                    <div>
                        <div class="btn btn-primary fs-min mx-1"><i class="fas fa-thumbs-up mx-1"></i>Thích</div>
                        <div class="btn btn-primary fs-min">Chia sẻ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <div class="container">
        <div class="row">
            {{!-- hinh san pham , slider,.. --}}
            <div class="col-4">
                 {{!-- hinh san pham  --}}
                <div class="row">
                    <div class="col-12">
                         <div>
                            <div class="image-products-showing">
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/image/9df78eab33525d08d6e5fb8d27136e95/8/0/800x800_flip_3_cream.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- slider --}}
                <div class="row mt-2">
                    <div class="col-4">
                         <div>
                            <div class="image-products-list">
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/thumbnail/115x/9df78eab33525d08d6e5fb8d27136e95/s/m/sm-f711_zflip3_5g_tabletopl30_phantomblack_210611.png" alt="">
                            </div>
                        </div>
                    </div>
                     <div class="col-4">
                         <div>
                            <div class="image-products-list">
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/thumbnail/115x/9df78eab33525d08d6e5fb8d27136e95/z/f/zflip-den-01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                     <div class="col-4">
                         <div>
                            <div class="image-products-list">
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/thumbnail/115x/9df78eab33525d08d6e5fb8d27136e95/s/m/sm-f711_zflip3_5g_sidetabletop_phantomblack_210611.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                 {{!-- bannerquang cao --}}
                <div class="row mt-3">
                   
                         <div>
                            <a href="" class="image-products-banner-promotion">
                                <img src="https://cdn.cellphones.com.vn/media/wysiwyg/gif-400x100.gif" alt="">
                            </a>
                        </div>
                  
                </div>
            
            </div>
            {{!-- tuỳ chọn san pham , chương trình khuyến mãi  --}}
              <div class="col-4">
                 <div class="choose-area-buying-products pd-info-products">
                     <div class="d-flex align-items-center justify-content-between">
                         <div class="fw-bold fs-normal">
                            Mua hàng từ :
                         </div>
                        <div class="flex flex-fill mx-3">
                              <select class="form-select" name="" id="">
                             <option value="">Hồ Chí Minh</option>
                             <option value="">Hà Nội</option>
                         </select>
                        </div>
                       
                     </div>
                 </div>
                  <div class="price-products pd-info-products text-danger fw-bold fs-5">
                      26.990.000d
                  </div>
                   <div class="option-products pd-info-products">
                     <div class="d-flex align-items-center group-btn-options">
                         <div class="btn btn-light btn-options btn-options-active">
                            <div class="info-options-products fw-bold text-dark fs-min">
                                256GB
                            </div>
                            <div class="price-options-products fw-bold text-danger fs-min-plus">
                                 26.990.000d
                            </div>
                         </div>
                         <div class="btn btn-light btn-options">
                              <div class="info-options-products fw-bold text-dark fs-min">
                                512GB
                            </div>
                            <div class="price-options-products fw-bold text-danger fs-min-plus">
                                 29.990.000d
                            </div>
                         </div>
                     </div>
                  </div>
                  <div class="lable-color-products fw-bold fs-min pd-info-products">
                        Chọn màu để xem giá và chi nhánh có hàng
                  </div>
                   <div class="color-products pd-info-products">
                     <div class="d-flex align-items-center group-btn-colors  flex-wrap">
                         <div class="btn btn-light btn-colors btn-colors-active">
                            <div class="info-colors-products fw-bold text-dark fs-min">
                               Kem 
                            </div>
                            <div class="price-colors-products fw-bold text-danger fs-min-plus">
                                 26.990.000d
                            </div>
                         </div>
                        
                            <div class="btn btn-light btn-colors ">
                            <div class="info-colors-products fw-bold text-dark fs-min">
                               Tím 
                            </div>
                            <div class="price-colors-products fw-bold text-danger fs-min-plus">
                                 26.990.000d
                            </div>
                         </div>
                        
                        <div class="btn btn-light btn-colors  ">
                            <div class="info-colors-products fw-bold text-dark fs-min">
                               Xanh 
                            </div>
                            <div class="price-colors-products fw-bold text-danger fs-min-plus">
                                 26.990.000d
                            </div>
                         </div>

                         <div class="btn btn-light btn-colors ">
                            <div class="info-colors-products fw-bold text-dark fs-min">
                               Đen 
                            </div>
                            <div class="price-colors-products fw-bold text-danger fs-min-plus">
                                 26.990.000d
                            </div>
                         </div>
                     </div>
                  </div>
                  <div class="promotion-products pd-info-products">
                      <div class="group-promotion-products pd-info-products">
                          <div class="ribbons-title-promotion">
                              <i class="fas fa-gift"></i> Khuyến mãi
                          </div>
                           <div class=" mt-3">
                           Chương trình khuyến mãi
                        </div>
                      
                      <ul class=" mg-0">
                          <a href="" class="a-none a-hover-red"><li class="fs-min-plus text-danger">Mua Office Home & Student 2019 kèm Macbook chỉ còn 1,990,000</li></a>
                          <a href="" class="a-none a-hover-red">  <li class=" fs-min-plus text-danger">Phần Mềm Diệt Virus, Office chính hãng chỉ từ 150k</li></a>
                        
                      </ul>
                      </div>
                     
                  </div>
                  <div class="promotion-middleware">
                      <div class="pd-info-products fs-min">
                      * <a href="" class="a-none a-hover-red  text-danger"> Giảm thêm 10% đến 300k khi thanh toán qua ví Moca trên ứng dụng Grab</a>
                      </div>
                  </div>
                  <div class="promotion-middleware">
                      <div class="pd-info-products fs-min">
                      * Giảm thêm tới 1% cho <a href="" class="a-none a-hover-red  text-danger"> thành viên Smember</a>
                      </div>
                  </div>
                  <div class="promotion-middleware">
                      <div class="pd-info-products fs-min">
                      * <a href="" class="a-none a-hover-red  text-danger">Thu cũ đổi mới -  Trợ giá tốt nhất</a>
                      </div>
                  </div>
                  <div class="interact-products">
                      <div class="group-interact-products pd-info-products">
                           <div class="btn-buy-products w-100 btn btn-danger  d-flex flex-column">
                               <div class="text-btn-buy-products d-flex flex-column">
                                   <div class="fs-6 fw-bold letter-space-2">
                                        MUA NGAY
                                   </div>
                                    
                                    <div class="fs-normal">(Giao hàng tận nhà)</div>
                               </div>
                                
                        </div>
                        <div class="d-flex group-btn-installment mt-2">
                             <div class="btn-installment-products w-50 btn btn-primary  d-flex flex-column">
                               <div class="text-btn-buy-products d-flex flex-column">
                                   <div class="fs-normal fw-bold ">
                                       TRẢ GÓP 0%
                                   </div>
                                    
                                    <div class="fs-min-plus">(Xét duyệt qua điện thoại)</div>
                               </div>
                                
                            </div>
                            <div class="btn-installment-products w-50 btn btn-primary  d-flex flex-column">
                               <div class="text-btn-buy-products d-flex flex-column">
                                   <div class="fs-normal fw-bold ">
                                        TRẢ GÓP QUA THẺ 
                                   </div>
                                    
                                    <div class="fs-min-plus">(Visa,Master,JCB)</div>
                               </div>
                                
                            </div>
                        </div>
                       
                      </div>

                      
                  </div>
            </div>
             {{!-- Sản phẩm còn kho , địa chỉ  --}}
              <div class="col-4">
                <div class="count-product-area text-center bg-light fw-bold fs-normal">
                    HIỆN 1 CỬA HÀNG CÓ SẴN SẢN PHẨM
                </div>
                <div class="fw-bold fs-normal">
                    Cửa hàng còn hàng (Bấm xem dẫn đường):
                </div>
                <div>
                    <select class="form-select fs-normal">
                        <option selected>Quận/huyện</option>
                        <option value="1">1</option>
                        <option value="2">10</option>
                        <option value="3">Bình Tân</option>
                    </select>
                </div>
                <div class="list-store-ready-products fs-min-plus mt-2">
                    <div class="store-ready-products bg-light">
                        <span>
                            ( <a href="" class="a-none text-danger a-hover-red">02871066288</a> )
                        </span>
                        <span>
                            <a href="" class="a-none text-secondary a-hover-black a-ellipsis"> 55B Trần Quang Khải, P. Tân Định, Q. 1</a>
                        </span>
                    </div>
                     <div class="store-ready-products bg-light">
                        <span>
                            ( <a href="" class="a-none text-danger a-hover-red">02871066288</a> )
                        </span>
                        <span>
                            <a href="" class="a-none text-secondary a-hover-black a-ellipsis">  157-159 Nguyễn Thị Minh Khai</a>
                        </span>
                    </div>
                     <div class="store-ready-products bg-light">
                        <span>
                            ( <a href="" class="a-none text-danger a-hover-red">02871066288</a> )
                        </span>
                        <span>
                            <a href="" class="a-none text-secondary a-hover-black a-ellipsis"> Kho giao hàng Online (17D Hồ Hảo Hớn)</a>
                        </span>
                    </div>
                     <div class="store-ready-products bg-light">
                    
                              <span>
                            ( <a href="" class="a-none text-danger a-hover-red">02871066288</a> )
                        </span>
                        <span  >
                            <a href="" class="a-none text-secondary a-hover-black"> 134 Nguyễn Thái Học, P. Phạm Ngũ Lão, Q.1, TP HCM</a>
                        </span>
                         </span>
                       
                    </div>
                     <div class="store-ready-products bg-light">
                        <span>
                            ( <a href="" class="a-none text-danger a-hover-red">02871066288</a> )
                        </span>
                        <span>
                            <a href="" class="a-none text-secondary a-hover-black a-ellipsis"> 55B Trần Quang Khải, P. Tân Định, Q. 1</a>
                        </span>
                    </div>
                     <div class="store-ready-products bg-light">
                        <span>
                            ( <a href="" class="a-none text-danger a-hover-red">02871066288</a> )
                        </span>
                        <span>
                            <a href="" class="a-none text-secondary a-hover-black a-ellipsis"> 55B Trần Quang Khải, P. Tân Định, Q. 1</a>
                        </span>
                    </div>
                    
                </div>
                <div class="status-products mt-2">
                    <div class="title-status-products fw-bold fs-min-plus">
                        Tình trạng
                    </div>
                    <div class="content-status-products fs-min-plus">
                        Mới, đầy đủ phụ kiện từ nhà sản xuất
                    </div>
                </div>
                <div class="status-products mt-2">
                    <div class="title-status-products fw-bold fs-min-plus">
                        Hộp bao gồm
                    </div>
                    <div class="content-status-products fs-min-plus">
                        Thân máy, cáp sạc, sách HDSH
                    </div>
                    
                </div>
                <div class="status-products mt-2">
                    <div class="title-status-products fw-bold fs-min-plus">
                        Bảo hành
                    </div>
                    <div class="content-status-products fs-min-plus">
                        Bảo hành chính hãng 12 tháng tại trung tâm bảo hành ủy quyền, 1 đổi 1 trong 30 ngày nếu có lỗi phần cứng từ NSX.
                         Gia hạn bảo hành thời gian giãn cách <a href="" class="a-none text-danger a-hover-red">(Chi tiết)</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 mb-3">
    <div class="container">
        <div class="row ">
            <div class="col-8 ">
                <div class="introduce-products fs-normal ">   
                    <div class="title-introduce-products fw-bold fs-4 mt-2">
                           Samsung Galaxy Z Flip 3 (5G) – Điện thoại màn hình gập độc đáo
                    </div>
                    <div class="content-introduce-products">
                        Bên cạnh các siêu phẩm của dòng S hay dòng Note thì Samsung còn trình làng một dòng điện thoại siêu đặc biệt. 
                        Và cho đến 2021 hãng đã phát triển đến thế hệ thứ ba, với tên gọi <span class="fw-bold">Galaxy Z Flip 3</span> . Ngoài sở hữu thiết kế gập 
                        độc đáo thì nó còn sở hữu tính năng gì mới hãy cùng chúng tôi xem qua bài viết bên dưới đây nhé.
                    </div>
                     <div class="content-introduce-products">
                         Dự kiến, Z Flip 3 5G sẽ được Samsung trình làng cùng với điện thoại Galaxy Z Fold 3 5G tại sự kiện ra mắt trực 
                         tuyến Unpacked diễn ra vào ngày 11/8 tới đây.
                     </div>

                      <div class="title-introduce-products fw-bold fs-4 mt-2">
                          Thiết kế đậm chất đặc trưng, màn hình dẻo tiên phong
                    </div>
                    <div class="content-introduce-products">
                        Samsung Galaxy Z Flip 3 sở hữu một phong cách thiết kế gập vỏ sò cùng khung nhôm aluminum chắc chắn.
                         Khi gấp gọn, điện thoại chỉ có kích thước 4.2 inch vô cùng nhỏ gọn nhưng mở râ lại là một chiếc điện 
                         thoại thông minh màn hình lớn mang lại khả năng khám phá không giới hạn. Màn hình ngoài của thiết bị
                          được trang bị mặt kính Gorilla Glass siêu bền bỉ.
                    </div>
                    <div class="img-introduce-products">
                        <img src="https://cdn.cellphones.com.vn/media/wysiwyg/mobile/samsung/galaxy-z-flip3-5g-1.jpg" alt="">
                    </div>
                    <div class="content-introduce-products">
                       Bản lề trên Samsung Galaxy Z Flip 3 cũng được đánh giá bền bỉ khi vượt qua bài thử nghiệm lên đến 200000 lần, 
                       nhờ đó người dùng có thể thoải mái sử dụng lên đến hơn 5 năm.
                    </div>
                    <div class="content-introduce-products">
                       Về màu sắc, điện thoại Samsung Galaxy Z Flip 3 sẽ được bán ra với nhiều phiên bản màu như Kem Ivory, Đen Phantom,
                        Xanh Phantom, Tím Lilac. Nhờ đó người dùng có nhiều sự lựa chọn màu sắc hơn theo sở thích. Máy cũng sẽ được
                         trang bị chẩn kháng nước và bụi bẩn IPX8 tiện lợi.
                    </div>
                </div>
                <div class="rating-products fs-normal my-3">
                    <div class="title-rating-products fw-bold fs-5">
                        Đánh giá & nhận xét Samsung Galaxy Z Flip3 5G
                    </div>
                 
                    
                    <div class="border-rating-products my-1">
                               <div class="row h-100">
                            <div class="col-5 h-100">
                                <div class="total-rating d-flex h-100 flex-column align-items-center pd-ct">
                                    <div class="m-auto text-center">
                                             <div class="score-rating fw-bold fs-5">
                                                5/5
                                            </div>
                                            <div class="star-rating fs-normal mx-1">
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                
                                                    <span class="">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                            </div>
                                             <div class="number-rating-test ">
                                                <span class=" fw-bold">2</span> đánh giá & nhận xét
                                            </div>
                                    </div>
                                   
                                </div>
                            </div>
                             <div class="col-7 h-100">
                                <div class="ruler-rating h-100 pd-ct d-flex flex-column justify-content-around">
                                    <div class="row-ruler-rating d-flex align-items-center">
                                        <div class="d-flex align-items-center "> <span class="mx-1">5</span>    <i class="fas fa-star star-active fs-min"></i> </div>
                                        <div class="background-ruler flex-fill">
                                            <div class="background-ruler-active">

                                            </div>
                                        </div>
                                        <div class="fs-min-plus">
                                            2 đánh giá
                                        </div>
                                    </div>
                                    <div class="row-ruler-rating d-flex align-items-center">
                                        <div class="d-flex align-items-center "> <span class="mx-1">4</span>    <i class="fas fa-star star-active fs-min"></i> </div>
                                        <div class="background-ruler flex-fill">
                                            <div class="background-ruler-active">

                                            </div>
                                        </div>
                                        <div class="fs-min-plus">
                                            1 đánh giá
                                        </div>
                                        
                                    </div>
                                    <div class="row-ruler-rating d-flex align-items-center">
                                        <div class="d-flex align-items-center "> <span class="mx-1">3</span>    <i class="fas fa-star star-active fs-min"></i> </div>
                                        <div class="background-ruler flex-fill">
                                            <div class="background-ruler-active">

                                            </div>
                                        </div>
                                        <div class="fs-min-plus">
                                            0 đánh giá
                                        </div>
                                    </div>
                                    <div class="row-ruler-rating d-flex align-items-center">
                                        <div class="d-flex align-items-center "> <span class="mx-1">2</span>    <i class="fas fa-star star-active fs-min"></i> </div>
                                        <div class="background-ruler flex-fill">
                                            <div class="background-ruler-active">

                                            </div>
                                        </div>
                                        <div class="fs-min-plus">
                                           0 đánh giá
                                        </div>
                                    </div>
                                    <div class="row-ruler-rating d-flex align-items-center">
                                        <div class="d-flex align-items-center "> <span class="mx-1">1</span>    <i class="fas fa-star star-active fs-min"></i> </div>
                                        <div class="background-ruler flex-fill">
                                            <div class="background-ruler-active">

                                            </div>
                                        </div>
                                        <div class="fs-min-plus">
                                           0 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                    <div class="navigation-choose-rating d-flex my-2">
                        <div class="m-auto text-center">
                            <div>Bạn đánh giá sao sản phẩm này?</div>
                           <div class="btn btn-danger text-light">Đánh giá gay</div>
                        </div>
                    </div>
                    <div class="preview-comment-content my-4">
                         {{!-- info user comment --}}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center fw-bold">
                                  <div class="avatar-autocreate text-center">
                                    T 
                                </div>
                                 <div class="name-user-rating mx-2">
                                      Thanh
                                 </div>
                            </div>
                            <div class="d-flex  align-items-center text-secondary fw-bold">
                                <i class="far fa-clock"></i>
                                 <div class="name-user-rating mx-2 fs-min-plus">
                                      4 giờ trước
                                 </div>
                            </div>
                        </div>
                            {{!-- info user rating --}}
                        <div class="info-content-user-comment my-2 bg-unwhite d-flex flex-column justify-content-around">
                            <div class="row-user-rating-products d-flex">
                                 <div class="fw-bold">
                                    Đánh giá :
                                </div>
                                  <div class="user-rating-score">
                                 <div class="star-rating fs-min-plus mx-1">
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                    </div>
                                 </div>
                            </div>
                       
                            <div class="row-user-comments-rating-products d-flex">
                                  <div class="fw-bold">
                                   Nhận xét : 
                                </div>
                              <div class="user-rating-score mx-1">
                                  Máy đẹp, mặt dù gập nhưng rất tỉ mỉ và tinh tế lắm
                             </div>
                            </div>


                                
                        </div>

                          
                       
                         {{!-- info content user comment --}}
                       
                         {{!-- <div class="info-content-user-comment my-2">
                             <div class="">
                                 Mình muốn lấy màu xanh, trừ hết KM còn bao nhiêu, lấy hàng ở HN
                             </div>
                             <div class="d-flex  flex-row-reverse ">
                                  <div class="btn-reply-comment-products btn btn-none text-danger fw-bold ">
                                <i class="fas fa-comment-alt text-danger fs-min"></i> Trả lời
                                </div>
                             </div>
                            
                         </div> --}}
                    </div>

                     <div class="preview-comment-content my-4">
                         {{!-- info user comment --}}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center fw-bold">
                                  <div class="avatar-autocreate text-center">
                                    T 
                                </div>
                                 <div class="name-user-rating mx-2">
                                      Thanh
                                 </div>
                            </div>
                            <div class="d-flex  align-items-center text-secondary fw-bold">
                                <i class="far fa-clock"></i>
                                 <div class="name-user-rating mx-2 fs-min-plus">
                                      4 giờ trước
                                 </div>
                            </div>
                        </div>
                            {{!-- info user rating --}}
                        <div class="info-content-user-comment my-2 bg-unwhite d-flex flex-column justify-content-around">
                            <div class="row-user-rating-products d-flex">
                                 <div class="fw-bold">
                                    Đánh giá :
                                </div>
                                  <div class="user-rating-score">
                                 <div class="star-rating fs-min-plus mx-1">
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                
                                                    <span class="star-active">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                    </div>
                                 </div>
                            </div>
                       
                            <div class="row-user-comments-rating-products d-flex">
                                  <div class="fw-bold">
                                   Nhận xét : 
                                </div>
                              <div class="user-rating-score mx-1">
                                  Máy đẹp, mặt dù gập nhưng rất tỉ mỉ và tinh tế lắm
                             </div>
                            </div>


                                
                        </div>

                          
                       
                   
                    </div>
                    <div  class="w-100 ">
                         
                            <a href="" class=" w-50 d-block m-auto btn-seemore-rating btn btn-light text-danger">
                                   XEM THÊM <i class="fas fa-chevron-down mx-4"></i>
                            </a>
                    </div>
                 
                </div>
                
                <div class="fs-normal my-3 border-products">
                    <div class="">
                          <div class=" asking-answer-products asking-answer-products-title fs-5 fw-bold">
                              Hỏi và đáp (1614 bình luận)
                          </div>
                           <div class="asking-answer-products">
                                 <div class="asking-answer-products-textarea d-flex my-2">
                        <textarea name="" class="form-control" id="" rows="4" placeholder="Xin mời để lại câu hỏi, CellphoneS sẽ trả lời ngay trong 1h, các câu hỏi sau 22h - 8h sẽ được trả lời vào sáng hôm sau."></textarea>
                        <div class="btn btn-danger btn-send-textarea-comments">
                            <span>
                                Gửi <i class="fas fa-paper-plane"></i>
                            </span>
                        </div>
                    </div>
                        </div>
                    </div>
                    <div class="bg-unwhite">
                       <div class="asking-answer-products">
                           <div class="comments-products my-3">
                                  <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center fw-bold">
                                  <div class="avatar-autocreate text-center">
                                    T 
                                </div>
                                 <div class="name-user-rating mx-2">
                                      Thanh
                                 </div>
                            </div>
                            <div class="d-flex  align-items-center text-secondary fw-bold">
                                <i class="far fa-clock"></i>
                                 <div class="name-user-rating mx-2 fs-min-plus">
                                      4 giờ trước
                                 </div>
                            </div>
                                 </div>
                                  <div class="info-content-user-comment my-2 bg-white fs-min-plus">
                                     Mình muốn lấy màu xanh, trừ hết KM còn bao nhiêu, lấy hàng ở HN
                                    <div class="btn-reply-comments-product">
                                     <div class="btn  text-danger fs-normal">
                                         <i class="fas fa-comment-alt"></i> Trả lời
                                     </div>
                                    </div>
                                 </div>
                               
                                 <div class="reply-conmments my-3">
                                <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center fw-bold">
                                  <div class="avatar-autocreate text-center text-danger">
                                    <i class="fas fa-headset fs-6"></i>
                                </div>
                                 <div class="name-user-rating mx-2">
                                      Thanh
                                 </div>
                                 <div class="admin-role-comments admin-role-active text-white fs-min bg-danger">
                                     QTV
                                 </div>
                            </div>
                            <div class="d-flex  align-items-center text-secondary fw-bold">
                                <i class="far fa-clock"></i>
                                 <div class="name-user-rating mx-2 fs-min-plus">
                                      4 giờ trước
                                 </div>
                            </div>
                            </div>
                            <div class="info-content-user-comment my-2 bg-white fs-min-plus">
                               CellphoneS xin chào anh Ha Nguyen
                                Dạ SAMSUNG GALAXY Z FLIP 3 5G 128GB XANH (F711B) giá thời điểm hiện tại 23.490.000 (HCM).
                                Anh ở địa chỉ nào để em kiểm tra thời gian giao cho mình ạ? Chi tiết hơn em xin được liên 
                                hệ anh qua SĐT để tư vấn tốt hơn ạ.Xin thông tin đến Anh ạ.
                                 <div class="btn-reply-comments-product">
                                     <div class="btn  text-danger fs-normal">
                                         <i class="fas fa-comment-alt"></i> Trả lời
                                     </div>
                                    </div>
                            </div>
                                 </div>
                                
                           </div>
                          
                           <div class="comments-products my-3">
                                  <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center fw-bold">
                                  <div class="avatar-autocreate text-center">
                                    T 
                                </div>
                                 <div class="name-user-rating mx-2">
                                      Thanh
                                 </div>
                            </div>
                            <div class="d-flex  align-items-center text-secondary fw-bold">
                                <i class="far fa-clock"></i>
                                 <div class="name-user-rating mx-2 fs-min-plus">
                                      4 giờ trước
                                 </div>
                            </div>
                                 </div>
                                  <div class="info-content-user-comment my-2 bg-white fs-min-plus">
                                     Mình muốn lấy màu xanh, trừ hết KM còn bao nhiêu, lấy hàng ở HN
                                    <div class="btn-reply-comments-product">
                                     <div class="btn  text-danger fs-normal">
                                         <i class="fas fa-comment-alt"></i> Trả lời
                                     </div>
                                    </div>
                                 </div>
                               
                                 <div class="reply-conmments my-3">
                                <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center fw-bold">
                                  <div class="avatar-autocreate text-center text-danger">
                                    <i class="fas fa-headset fs-6"></i>
                                </div>
                                 <div class="name-user-rating mx-2">
                                      Thanh
                                 </div>
                                 <div class="admin-role-comments admin-role-active text-white fs-min bg-danger">
                                     QTV
                                 </div>
                            </div>
                            <div class="d-flex  align-items-center text-secondary fw-bold">
                                <i class="far fa-clock"></i>
                                 <div class="name-user-rating mx-2 fs-min-plus">
                                      4 giờ trước
                                 </div>
                            </div>
                            </div>
                            <div class="info-content-user-comment my-2 bg-white fs-min-plus">
                               CellphoneS xin chào anh Ha Nguyen
                                Dạ SAMSUNG GALAXY Z FLIP 3 5G 128GB XANH (F711B) giá thời điểm hiện tại 23.490.000 (HCM).
                                Anh ở địa chỉ nào để em kiểm tra thời gian giao cho mình ạ? Chi tiết hơn em xin được liên 
                                hệ anh qua SĐT để tư vấn tốt hơn ạ.Xin thông tin đến Anh ạ.
                                 CellphoneS xin chào anh Ha Nguyen
                                Dạ SAMSUNG GALAXY Z FLIP 3 5G 128GB XANH (F711B) giá thời điểm hiện tại 23.490.000 (HCM).
                                Anh ở địa chỉ nào để em kiểm tra thời gian giao cho mình ạ? Chi tiết hơn em xin được liên 
                                hệ anh qua SĐT để tư vấn tốt hơn ạ.Xin thông tin đến Anh ạ.
                                   CellphoneS xin chào anh Ha Nguyen
                               
                                 <div class="btn-reply-comments-product">
                                     <div class="btn  text-danger fs-normal">
                                         <i class="fas fa-comment-alt"></i> Trả lời
                                     </div>
                                    </div>
                            </div>
                                 </div>
                                
                           </div>

                           <div class="comments-products my-3">
                                  <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center fw-bold">
                                  <div class="avatar-autocreate text-center">
                                    T 
                                </div>
                                 <div class="name-user-rating mx-2">
                                      Thanh
                                 </div>
                            </div>
                            <div class="d-flex  align-items-center text-secondary fw-bold">
                                <i class="far fa-clock"></i>
                                 <div class="name-user-rating mx-2 fs-min-plus">
                                      4 giờ trước
                                 </div>
                            </div>
                                 </div>
                                  <div class="info-content-user-comment my-2 bg-white fs-min-plus">
                                     Mình muốn lấy màu xanh, trừ hết KM còn bao nhiêu, lấy hàng ở HN
                                    <div class="btn-reply-comments-product">
                                     <div class="btn  text-danger fs-normal">
                                         <i class="fas fa-comment-alt"></i> Trả lời
                                     </div>
                                    </div>
                                 </div>
                               
                                
                           </div>

                           <div class=" w-100 d-flex flex-row-reverse">
                               <div class="w-25 d-inline-block btn text-white btn-danger ">
                                    Xem Thêm
                               </div>
                              
                           </div>

                          
                       </div>
                    </div>
                    
                    {{!-- <div>
                        
                   
                    </div>
                    <div class="bg-unwhite">
                        asdf
                    </div> --}}

                </div>
             
            </div>
            <div class="col-4 test-left">
                 <div class="specifications-products">   
                     <div class="title-specifications-products fw-bold">
                           Thông số kỹ thuật
                     </div>
                     <div class="content-specifications-products pd-w-12">
                         <div class="size-display-specifications-products items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Kích thước màn hình</div>
                                    <div class="col-8 fw-bold fs-min-plus">11 inches</div>
                                </div>
                         </div>
                           <div class="camera-back-specifications-products items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Camera sau</div>
                                    <div class="col-8 fw-bold fs-min-plus">
                                        <div>	13 MP góc rộng,khẩu độ f/2.0</div>
                                        <div>	5 MP góc siêu rộng f/2.2</div>
                                    </div>
                                </div>
                         </div>
                         <div class="camera-before-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Camera trước</div>
                                    <div class="col-8 fw-bold fs-min-plus">8 MP góc rộng,khẩu độ f/2.0</div>
                                </div>
                         </div>
                         <div class="chipset-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Chipset</div>
                                    <div class="col-8 fw-bold fs-min-plus">	Qualcomm SM8250 Snapdragon 865+ (7 nm+)</div>
                                </div>
                         </div>
                         <div class="storage-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Bộ nhớ trong</div>
                                    <div class="col-8 fw-bold fs-min-plus">128 GB</div>
                                </div>
                         </div>
                         <div class="ram-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Ram</div>
                                    <div class="col-8 fw-bold fs-min-plus">6 GB</div>
                                </div>
                         </div>
                         <div class="battery-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Pin</div>
                                    <div class="col-8 fw-bold fs-min-plus">3300 mAh</div>
                                </div>
                         </div>
                          <div class="nano-sim-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Thẻ sim</div>
                                    <div class="col-8 fw-bold fs-min-plus">	2 SIM (nano‑SIM và eSIM)</div>
                                </div>
                         </div>
                            <div class="btn-specifications-products-more w-100 my-2 btn btn-light text-danger">
                                Xem thêm
                            </div>
                            <div id='extra-specifications'>
                                  <div class="camera-before-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Camera trước</div>
                                    <div class="col-8 fw-bold fs-min-plus">8 MP góc rộng,khẩu độ f/2.0</div>
                                </div>
                         </div>
                         <div class="chipset-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Chipset</div>
                                    <div class="col-8 fw-bold fs-min-plus">	Qualcomm SM8250 Snapdragon 865+ (7 nm+)</div>
                                </div>
                         </div>
                         <div class="storage-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Bộ nhớ trong</div>
                                    <div class="col-8 fw-bold fs-min-plus">128 GB</div>
                                </div>
                         </div>
                         <div class="ram-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Ram</div>
                                    <div class="col-8 fw-bold fs-min-plus">6 GB</div>
                                </div>
                         </div>
                         <div class="battery-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Pin</div>
                                    <div class="col-8 fw-bold fs-min-plus">3300 mAh</div>
                                </div>
                         </div>
                          <div class="nano-sim-specifications-products py-2 items-specifications-products">
                                <div class="row d-flex align-items-center">
                                    <div class="col-4 fs-min-plus">Thẻ sim</div>
                                    <div class="col-8 fw-bold fs-min-plus">	2 SIM (nano‑SIM và eSIM)</div>
                                </div>
                         </div>
                            </div>
                     </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded',function(){
        var btn_specifications_more = $('.btn-specifications-products-more');
   
        
        var extra_specifications = $('#extra-specifications');
    
        btn_specifications_more.on('click',function(){
            btn_specifications_more.css('display','none');
            extra_specifications.css('display','block')
        })
      
    })
</script>