@import'variable';
@import'header';
@import'home';
@import'products';
@import'cart';
@import'managerLogin';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.pd-tb-12{
    padding: 12px 0px;
}
.pd-w-12{
    padding: 0px 12px;
}
.pd-bd{
    padding: 16px 20px;
}
.pd-bd-y-0{
    padding: 0 20px;
}
.pd-0{
    padding: 0;
}
.mg-0{
    margin: 0;
}
.mg-hd-content{
    
    padding-top: 82px !important;
}
.mg-hd{
    
    padding-top: 70px !important;
}
.ul-none{
    padding: 0;
    margin: 0;
}
.lst-none{
    list-style: none;
}
.text-white{
    color: #fff;
}
.fs-normal{
    font-size: 0.9rem;
}
.bd-rad{
    border-radius: 4px;
}
.outline-none{
    outline: none !important;
}
.bd-none{
    border: none !important;
}
.a-none{
    text-decoration: none;
 
}
.fs-min-mini{
    font-size: 0.6rem;
}
.fs-min{
    font-size: 0.7rem;
}
.fs-min-plus{
    font-size: 0.8rem;
}
.pd-ct{
    padding: 4px 12px;
}
.pd-top-8{
    padding: 8px;
}
.text-upper{
    text-transform: uppercase;
}
.text-cap{
    text-transform: capitalize;
}
.text-linethough{
    text-decoration: line-through;
}
.star-active{
    color: $star-active-color;
}
.tag-sale{
    text-align: center;
    width: 40px;
    height: 24px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0.4px;
    border-bottom-right-radius: 0.4px;
    top: 0;
    background-color: #d70018;
    position: absolute;
    color: white;
    z-index: 1;
    line-height: 24px;
}
.tag-sale::after{
   content: "";
   position: absolute;
    bottom: -12px;
    left:0;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 12px solid #d70018;
}
.letter-space-2{
    letter-spacing: 2px;
}
.a-hover-red:hover{
    text-decoration: 1px underline red !important;
}
.a-hover-black:hover{
    text-decoration: 1px underline black !important;
}
.bg-unwhite{
    background-color: #f3f4f6;
}
