@import'variable';
@import'mixin';
.pd-cart{
    padding: 0 24%;
}
.img-represent-product-cart{
    img{
        width: 100%;
    }
}
.items-product-cart{
    padding: 20px 0;

}
.border-promotion{
    border:1px solid #f1d4c4;//#fbe5d9;
}
.bd-bt-1{
    border-bottom: 1px solid #ccc;
}
.bg-promotion{
    background-color:#fbe5d9;
}
.btn-quanity-cart{
    border: 1px solid #ccc;
    border-radius:0px !important;
    width: 36px;
    height: 36px;
}

.btn-quanity-cart:hover{
    background-color: #f2f2f2;
}

.title-payment-online{
    position: relative;
   
  
  
}
.title-payment-online-content{
    position: relative;
    background-color: white;
}
.title-payment-online::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    top: 50%;
    left: 0;
    z-index: -1;
}
.img-logo-payment-online{
    height: 36px;
  
    img{
        padding: 6px;
        height: 100%;
    }
}
.ATM-card{
    content: "ATM";
    background-color: #aaa;
    line-height: 32px;
    padding: 4px;
 
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 4px;
}