@import'variable';
@import'mixin';
.bd-cart{
    border-radius: 12px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pd-12{
    padding: 12px;
}
.line_bottom{
   
    
    width: 60px;
    height: 2px;
    background-color: $color-primary;
}
.bg-getAll{
    background-color: $color-primary;
    padding: 8px;
    border-radius: 12px;
}
.btn-light.color-primary:hover{
    color: $color-primary;
    background-color: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
    outline: rgb(230, 230, 230);
}
.address-deli{
    cursor: pointer;
    padding: 12px;
}
.form-control.input-text-address{
    padding: 12px;
    margin: 20px 0px;
}

.rad-primary:checked{
    
    background-color: $color-primary !important;
    border: 3px solid $color-primary !important;
    
}
.modal-cart{
    //background: linear-gradient(to right,#fead3c,#fb8f19);
    width: 680px;
    background:white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 8px;
    .btn-modal-cart{
        background: linear-gradient(to right,#fead3c,#fb8f19);
        color: white;
        border: 0px;
    }
}
.btn-delte-product-cart{
    cursor: pointer;
    color: $color-primary-hover;
}
.img-cart-modal{
    width: 160px;
    height: 160px;
    border-radius: 8px;
}
.text-admin{
    color: #fdcd98;
}