@import'variable';
@import'mixin';
.header-web{
    height: 70px;
    width: 100%;
    background-color: $background-header-color;
    position: fixed;
    z-index: 2;
}

.pd-tb{
    padding-top: 12px;
    padding-bottom:12px;
}

.search-header{
    position: relative;
    i{
        position: absolute;
        right: 12px;
    }
}
.btn-header{
    height: 46px;
}

.logo-header{
    text-align: center;
    width: 15%;
  outline: auto;
 
    
}
.choose-area-header{
    position: relative;
    z-index: 4; 
}
.area-header{
  
    border-radius: 4px;
    position: fixed;
    display: none;
    z-index: 3;
    
    height: auto;
    background-color:white;
    min-width: 120%;
  
}


.pd-area-header{
    padding:4px 16px;
    
    
}
.area-item:hover{
    @include hoverBasic;
    border-radius: 4px;
}