@import'variable';
@import'mixin';



.table-category{
    position: relative;
    background-color: white !important;
    
}
.border-category{                   //border cấp 1
    display: none;
    background-color: white;
    top: 0;
    right: -100%;
    width: 200px;
    position: absolute;
    z-index: 2;
    min-height: 100%;
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;

}
.border-details-category{           //border cấp 2 
    display: none;
    background-color: white;
    top: 0;
    right: -100%;
    width: 200px;
    position: absolute;
    z-index: 2;
    min-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

.border-products-category{          //border cấp 3
    display: none;
    background-color: white;
    top: 0;
    right: -100%;
    width: 200px;
    position: absolute;
    z-index: 2;
    min-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

.background-content-color{
    background-color: $background-content-color;
}
.pd-12{
    padding-bottom: 12px;
}
.logo-category{
    display: inline-flex;
    width: 20px;
    i{
        margin: auto;
        font-size: 1.0rem;
    }
}

.items-category:hover{
    @include hoverBasic;
}
.items-category:hover .border-category{
    display: block;
    
    li:hover .border-details-category{
        display: block;
       
        li:hover .border-products-category{
            display: block;
        }
    }
   
}
.a-list-menu:hover{
    background-color: rgba(240, 189, 189, 0.92);
}

.icon-more-category{
    margin-left: auto;
}


  
  .slider-btn {
  
    display: flex;
    align-items: center;
    gap:10px;
  }
  
  .btn-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 72px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.25s;
  }
  
  .btn-slider:hover {
    background-color: $background-header-color;
    color: #fff;
  }
  
  .banner-quangcao{
      height: 32%;
      width: 100%;
      border-radius: 4px;
  }
  .item-banner{
      background-image: url("https://cdn.cellphones.com.vn/media/ltsoft/promotion/1-3-690x300_RightBanner_Desktop_4_.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
  .item-banner:nth-child(2){
    background-image: url("https://cdn.cellphones.com.vn/media/ltsoft/promotion/ip-12-r690-300-max.png");
}
.item-banner:nth-child(3){
    background-image: url("https://cdn.cellphones.com.vn/media/ltsoft/promotion/asus_rightbanner.png");
}
.img-content-quangcao{
    display: block;
    width: 100%;
    img{
        width: 100%;
        border-radius: 4px;
    }

}
.test{
    display: none;
}
.logo-items{
  height: 52px;
  width:23%;
  background-color: white;
  border-radius: 4px;
  padding: 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 1.2px 1.2px 2.4px;
}
.background-banner-image{
  margin: auto;
  height: 100%;
  background-image: url("/image/apple-logo-64.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.samsung-banner{
  background-image: url("https://file.hstatic.net/1000065016/file/samsung-blocked-black-logo.png");
}
.xiaomi-banner{
  background-image: url("/image/xiaomi-logo-64.png");
}
.asus-banner{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/de/AsusTek-black-logo.png");
}
.border-brand-products{
  background-color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 16px;
  font-size: 0.8rem;
 
}
.title-table-products{
  background-color: #eee;
  height: 48px;
  padding: 4px 12px;
  border-radius:4px;
  font-family: 'Roboto', sans-serif;
}
.table-products{
  background-color: white;
  border-radius: 8px;
}
.col-products{
  
  padding: 4px 48px;
  .items-product{
    position: relative;
    width: 100%;
    background-color: white;
    padding: 8px 16px;
    border-radius: 12px;
    img{
    padding: 8px 12px;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    }
  }
 
}

.col-products-slider{
  
  padding: 0px 28px;
  padding-bottom: 8px;
  background-color: white;
 
  .items-product-slider{
    position: relative;
    width: 100%;
    border-radius: 12px;
   
    img{

    padding: 8px 12px;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    }
  }
 
}
.slider-laptop{
  position: relative;
}
.btn-slider-product-prev{
  
  position: absolute;
  top: 50%;
  left:  -60px;
  transform: translateY(-100%);
}
.btn-slider-product-next{

  position: absolute;
  top: 50%;
  right: -60px;
 
  transform: translateY(-100%);
}

.items-product:hover{
  box-shadow: 0 0 4px 0;
  z-index: 1;
  background-color: $background-content-color;
}
.items-product-slider{
  padding: 12px 20px;
}
.items-product-slider:hover{
  box-shadow: 0 0 4px 0;
  z-index: 1;
  border-radius: 4px;
}
.active-product{
 visibility: hidden;
  display: flex;
  justify-content: space-between;
 
}
.items-product:hover  .active-product{
  visibility:visible;
 
  animation: fadeIn ease 1s;
}
.event-product{
  background-color: #ddd;
  padding: 4px;
  border-radius: 4px;
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}