.background-login-manager{
    min-height: 100vh;
    background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: relative;
}
.form-login-manager{
    width: 36%;
    min-height: 40vh;
    background-color: rgba(255,255,255,0.6);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: auto;
    border-radius: 16px;
}
.test-img{
    position: absolute;
    z-index: 2;
    left: 0;
    top:10%;
    img{
        height: 80vh;
    }
}
.test-img-2{
    position: absolute;
    z-index: 2;
    right: 0;
    top:10%;
    
    img{
      
        max-width: 400px;
    }
}
.pd-form-login{
    padding: 52px;
}
.title-frm-login{
    color: #fc823e;
}
.color-light-manager{
    color:#e26c67;
    font-weight: bold;
}
