@import 'variable';
.background-client-redirect{
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.client-redirect-active{
    pointer-events: none;
    color: black !important;
    cursor: not-allowed;  

    
}
.header-products{
  
    height: 66px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
    padding: 4px 16px;
    border-radius: 4px;
}

// head left
.image-products-showing{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 20px;
    img{
        width: 100%;
    }
    
}

.image-products-list{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 
    padding: 8px;
    img{
        width: 100%;
    }
}
.image-products-banner-promotion{
    img{
        width: 100%;
    }
}


//head middle
.pd-info-products{
    padding: 4px 12px;
}
.group-btn-options{
    gap:14px;
}
.btn-options{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, rgba(0, 0, 0, 0.23) 0px 1px 3px;
    border: 3px solid transparent;
    background-color: white;
    min-width: 30%;
    max-width: 100%;
}
.btn-options:hover{
    border: 3px solid rgb(228, 118, 118);
}
.btn-options-active{
    border: 3px solid rgb(228, 118, 118);
}
.group-btn-colors{
    
    gap:12px
}
.btn-colors{
    min-width: 30%;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, rgba(0, 0, 0, 0.23) 0px 1px 3px;
    border-radius: 4px;
    background-color: white;
    border: 3px solid transparent;
    
}
.btn-colors-active{
    border: 3px solid rgb(228, 118, 118);
}
.btn-colors:hover{
    border: 3px solid rgb(228, 118, 118);
}
.group-promotion-products{
    margin-top: 12px;
    border: 1px solid red;
    border-radius: 4px;
   
}
.promotion-products{
    position: relative;
}
.ribbons-title-promotion{
    
    padding: 2px 16px;
    height: 30x;
    position: absolute;
    top: 0;
    transform: translateY(10%);
    border-radius: 16px;
    background-color: $background-header-color;
    color: white;
}
.text-btn-buy-products{
    margin: auto;
}
.group-btn-installment{
    gap: 12px;
}



//head right 
.count-product-area{
    height: 42px;
    line-height: 42px;
}
.list-store-ready-products{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 152px;
}
.list-store-ready-products::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #c3c3c3;
  }
::-webkit-scrollbar-thumb {
    background: #e11b1e;
}
.store-ready-products{
    background-color: #ccc;
    padding: 4px 16px;
    border-bottom: 2px solid white;
}

//content introduce products
.introduce-products{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 4px;
    padding: 8px 20px;
}

.specifications-products{
    
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 4px;
}
.content-introduce-products{
    margin-top: 12px;
    text-align: justify;
}
.img-introduce-products{
    
    img{
        width: 100%;
    }
}
.title-specifications-products{
    text-align: center;
    background-color: #f7f7f7;
    height: 49px;
    line-height: 49px;
}
.items-specifications-products{
    border-top: 2px solid #f8f8f8;
    min-height: 24px;
    line-height: 24px;
}


.rating-products{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 4px;
    padding: 8px 20px;
}
.border-products{
  //  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.border-rating-products{
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 12px;
}


.ruler-rating{
    border-left: 1px solid #ccc;
}
.background-ruler{
    border-radius: 16px;
    background-color: #ccc;
}
.row-ruler-rating{
    gap: 8px;
}
.background-ruler{
    height: 8px;
}
.background-ruler-active{
    border-radius: 16px;
    height: 8px;
    background-color: $background-header-color;
    width: 40%;
}

.navigation-choose-rating{
    display: flex;
}
.avatar-autocreate{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #ccc;
    line-height: 30px;
}
.info-content-user-comment{
    position: relative;
    margin-left: 30px;
    padding: 8px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 8px;
    padding-bottom: 32px;
    min-height: 80px;
}

.btn-reply-comment-products{
    margin-top: 32px;
    
}
.asking-answer-products-textarea{
    gap: 12px;
}
.btn-send-textarea-comments{
    max-height: 36px;
    width: 80px;
}

.asking-answer-products{
    padding: 8px 20px;   
}

.border-user-comments{
    border : 1px solid black
}

.reply-conmments{
    margin-left: 30px;
}
.admin-role-comments{
    display: none;
    padding: 4px 8px;
    border-radius: 4px;
}

.admin-role-active{
    display: block;
}

.btn-reply-comments-product{
    position: absolute;
    bottom: 0;
    right: 0;
}
#extra-specifications{
    display: none;
}
#extra-comment-rating{
    display: none;
}