@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header-web {
  height: 70px;
  width: 100%;
  background-color: #d70019;
  position: fixed;
  z-index: 2; }

.pd-tb {
  padding-top: 12px;
  padding-bottom: 12px; }

.search-header {
  position: relative; }
  .search-header i {
    position: absolute;
    right: 12px; }

.btn-header {
  height: 46px; }

.logo-header {
  text-align: center;
  width: 15%;
  outline: auto; }

.choose-area-header {
  position: relative;
  z-index: 4; }

.area-header {
  border-radius: 4px;
  position: fixed;
  display: none;
  z-index: 3;
  height: auto;
  background-color: white;
  min-width: 120%; }

.pd-area-header {
  padding: 4px 16px; }

.area-item:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px; }

.table-category {
  position: relative;
  background-color: white !important; }

.border-category {
  display: none;
  background-color: white;
  top: 0;
  right: -100%;
  width: 200px;
  position: absolute;
  z-index: 2;
  min-height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px; }

.border-details-category {
  display: none;
  background-color: white;
  top: 0;
  right: -100%;
  width: 200px;
  position: absolute;
  z-index: 2;
  min-height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px; }

.border-products-category {
  display: none;
  background-color: white;
  top: 0;
  right: -100%;
  width: 200px;
  position: absolute;
  z-index: 2;
  min-height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px; }

.background-content-color {
  background-color: #f5f8fd; }

.pd-12 {
  padding-bottom: 12px; }

.logo-category {
  display: inline-flex;
  width: 20px; }
  .logo-category i {
    margin: auto;
    font-size: 1.0rem; }

.items-category:hover {
  background-color: rgba(255, 255, 255, 0.6); }

.items-category:hover .border-category {
  display: block; }
  .items-category:hover .border-category li:hover .border-details-category {
    display: block; }
    .items-category:hover .border-category li:hover .border-details-category li:hover .border-products-category {
      display: block; }

.a-list-menu:hover {
  background-color: rgba(240, 189, 189, 0.92); }

.icon-more-category {
  margin-left: auto; }

.slider-btn {
  display: flex;
  align-items: center;
  gap: 10px; }

.btn-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 72px;
  background-color: #fff;
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.25s; }

.btn-slider:hover {
  background-color: #d70019;
  color: #fff; }

.banner-quangcao {
  height: 32%;
  width: 100%;
  border-radius: 4px; }

.item-banner {
  background-image: url("https://cdn.cellphones.com.vn/media/ltsoft/promotion/1-3-690x300_RightBanner_Desktop_4_.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.item-banner:nth-child(2) {
  background-image: url("https://cdn.cellphones.com.vn/media/ltsoft/promotion/ip-12-r690-300-max.png"); }

.item-banner:nth-child(3) {
  background-image: url("https://cdn.cellphones.com.vn/media/ltsoft/promotion/asus_rightbanner.png"); }

.img-content-quangcao {
  display: block;
  width: 100%; }
  .img-content-quangcao img {
    width: 100%;
    border-radius: 4px; }

.test {
  display: none; }

.logo-items {
  height: 52px;
  width: 23%;
  background-color: white;
  border-radius: 4px;
  padding: 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 1.2px 1.2px 2.4px; }

.background-banner-image {
  margin: auto;
  height: 100%;
  background-image: url("/image/apple-logo-64.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.samsung-banner {
  background-image: url("https://file.hstatic.net/1000065016/file/samsung-blocked-black-logo.png"); }

.xiaomi-banner {
  background-image: url("/image/xiaomi-logo-64.png"); }

.asus-banner {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/de/AsusTek-black-logo.png"); }

.border-brand-products {
  background-color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 16px;
  font-size: 0.8rem; }

.title-table-products {
  background-color: #eee;
  height: 48px;
  padding: 4px 12px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif; }

.table-products {
  background-color: white;
  border-radius: 8px; }

.col-products {
  padding: 4px 48px; }
  .col-products .items-product {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 8px 16px;
    border-radius: 12px; }
    .col-products .items-product img {
      padding: 8px 12px;
      min-width: 100%;
      min-height: 100%;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1); }

.col-products-slider {
  padding: 0px 28px;
  padding-bottom: 8px;
  background-color: white; }
  .col-products-slider .items-product-slider {
    position: relative;
    width: 100%;
    border-radius: 12px; }
    .col-products-slider .items-product-slider img {
      padding: 8px 12px;
      min-width: 100%;
      min-height: 100%;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1); }

.slider-laptop {
  position: relative; }

.btn-slider-product-prev {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-100%); }

.btn-slider-product-next {
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-100%); }

.items-product:hover {
  box-shadow: 0 0 4px 0;
  z-index: 1;
  background-color: #f5f8fd; }

.items-product-slider {
  padding: 12px 20px; }

.items-product-slider:hover {
  box-shadow: 0 0 4px 0;
  z-index: 1;
  border-radius: 4px; }

.active-product {
  visibility: hidden;
  display: flex;
  justify-content: space-between; }

.items-product:hover .active-product {
  visibility: visible;
  animation: fadeIn ease 1s; }

.event-product {
  background-color: #ddd;
  padding: 4px;
  border-radius: 4px; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.background-client-redirect {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }

.client-redirect-active {
  pointer-events: none;
  color: black !important;
  cursor: not-allowed; }

.header-products {
  height: 66px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
  padding: 4px 16px;
  border-radius: 4px; }

.image-products-showing {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding: 20px; }
  .image-products-showing img {
    width: 100%; }

.image-products-list {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 8px; }
  .image-products-list img {
    width: 100%; }

.image-products-banner-promotion img {
  width: 100%; }

.pd-info-products {
  padding: 4px 12px; }

.group-btn-options {
  gap: 14px; }

.btn-options {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, rgba(0, 0, 0, 0.23) 0px 1px 3px;
  border: 3px solid transparent;
  background-color: white;
  min-width: 30%;
  max-width: 100%; }

.btn-options:hover {
  border: 3px solid #e47676; }

.btn-options-active {
  border: 3px solid #e47676; }

.group-btn-colors {
  gap: 12px; }

.btn-colors {
  min-width: 30%;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, rgba(0, 0, 0, 0.23) 0px 1px 3px;
  border-radius: 4px;
  background-color: white;
  border: 3px solid transparent; }

.btn-colors-active {
  border: 3px solid #e47676; }

.btn-colors:hover {
  border: 3px solid #e47676; }

.group-promotion-products {
  margin-top: 12px;
  border: 1px solid red;
  border-radius: 4px; }

.promotion-products {
  position: relative; }

.ribbons-title-promotion {
  padding: 2px 16px;
  height: 30x;
  position: absolute;
  top: 0;
  transform: translateY(10%);
  border-radius: 16px;
  background-color: #d70019;
  color: white; }

.text-btn-buy-products {
  margin: auto; }

.group-btn-installment {
  gap: 12px; }

.count-product-area {
  height: 42px;
  line-height: 42px; }

.list-store-ready-products {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 152px; }

.list-store-ready-products::-webkit-scrollbar {
  width: 3px; }

::-webkit-scrollbar-track {
  background: #c3c3c3; }

::-webkit-scrollbar-thumb {
  background: #e11b1e; }

.store-ready-products {
  background-color: #ccc;
  padding: 4px 16px;
  border-bottom: 2px solid white; }

.introduce-products {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 4px;
  padding: 8px 20px; }

.specifications-products {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 4px; }

.content-introduce-products {
  margin-top: 12px;
  text-align: justify; }

.img-introduce-products img {
  width: 100%; }

.title-specifications-products {
  text-align: center;
  background-color: #f7f7f7;
  height: 49px;
  line-height: 49px; }

.items-specifications-products {
  border-top: 2px solid #f8f8f8;
  min-height: 24px;
  line-height: 24px; }

.rating-products {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 4px;
  padding: 8px 20px; }

.border-products {
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }

.border-rating-products {
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 12px; }

.ruler-rating {
  border-left: 1px solid #ccc; }

.background-ruler {
  border-radius: 16px;
  background-color: #ccc; }

.row-ruler-rating {
  gap: 8px; }

.background-ruler {
  height: 8px; }

.background-ruler-active {
  border-radius: 16px;
  height: 8px;
  background-color: #d70019;
  width: 40%; }

.navigation-choose-rating {
  display: flex; }

.avatar-autocreate {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #ccc;
  line-height: 30px; }

.info-content-user-comment {
  position: relative;
  margin-left: 30px;
  padding: 8px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
  padding-bottom: 32px;
  min-height: 80px; }

.btn-reply-comment-products {
  margin-top: 32px; }

.asking-answer-products-textarea {
  gap: 12px; }

.btn-send-textarea-comments {
  max-height: 36px;
  width: 80px; }

.asking-answer-products {
  padding: 8px 20px; }

.border-user-comments {
  border: 1px solid black; }

.reply-conmments {
  margin-left: 30px; }

.admin-role-comments {
  display: none;
  padding: 4px 8px;
  border-radius: 4px; }

.admin-role-active {
  display: block; }

.btn-reply-comments-product {
  position: absolute;
  bottom: 0;
  right: 0; }

#extra-specifications {
  display: none; }

#extra-comment-rating {
  display: none; }

.pd-cart {
  padding: 0 24%; }

.img-represent-product-cart img {
  width: 100%; }

.items-product-cart {
  padding: 20px 0; }

.border-promotion {
  border: 1px solid #f1d4c4; }

.bd-bt-1 {
  border-bottom: 1px solid #ccc; }

.bg-promotion {
  background-color: #fbe5d9; }

.btn-quanity-cart {
  border: 1px solid #ccc;
  border-radius: 0px !important;
  width: 36px;
  height: 36px; }

.btn-quanity-cart:hover {
  background-color: #f2f2f2; }

.title-payment-online {
  position: relative; }

.title-payment-online-content {
  position: relative;
  background-color: white; }

.title-payment-online::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  top: 50%;
  left: 0;
  z-index: -1; }

.img-logo-payment-online {
  height: 36px; }
  .img-logo-payment-online img {
    padding: 6px;
    height: 100%; }

.ATM-card {
  content: "ATM";
  background-color: #aaa;
  line-height: 32px;
  padding: 4px;
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 4px; }

.background-login-manager {
  min-height: 100vh;
  background: #DE6262;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFB88C, #DE6262);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative; }

.form-login-manager {
  width: 36%;
  min-height: 40vh;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: auto;
  border-radius: 16px; }

.test-img {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 10%; }
  .test-img img {
    height: 80vh; }

.test-img-2 {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 10%; }
  .test-img-2 img {
    max-width: 400px; }

.pd-form-login {
  padding: 52px; }

.title-frm-login {
  color: #fc823e; }

.color-light-manager {
  color: #e26c67;
  font-weight: bold; }

body {
  font-family: 'Roboto', sans-serif; }

.pd-tb-12 {
  padding: 12px 0px; }

.pd-w-12 {
  padding: 0px 12px; }

.pd-bd {
  padding: 16px 20px; }

.pd-bd-admin {
  padding: 24px 32px; }

.pd-admin {
  padding: 12px 120px; }

.pd-bd-y-0 {
  padding: 0 20px; }

.pd-0 {
  padding: 0; }

.mg-0 {
  margin: 0; }

.mg-hd-content {
  padding-top: 82px !important; }

.mg-hd {
  padding-top: 70px !important; }

.ul-none {
  padding: 0;
  margin: 0; }

.lst-none {
  list-style: none; }

.text-white {
  color: #fff; }

.fs-normal {
  font-size: 0.9rem; }

.bd-rad {
  border-radius: 4px; }

.outline-none {
  outline: none !important; }

.bd-none {
  border: none !important; }

.a-none {
  text-decoration: none; }

.fs-min-mini {
  font-size: 0.6rem; }

.fs-min {
  font-size: 0.7rem; }

.fs-min-plus {
  font-size: 0.8rem; }

.pd-ct {
  padding: 4px 12px; }

.pd-top-8 {
  padding: 8px; }

.text-upper {
  text-transform: uppercase; }

.text-cap {
  text-transform: capitalize; }

.text-linethough {
  text-decoration: line-through; }

.star-active {
  color: #ffa500; }

.tag-sale {
  text-align: center;
  width: 40px;
  height: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0.4px;
  border-bottom-right-radius: 0.4px;
  top: 0;
  background-color: #d70018;
  position: absolute;
  color: white;
  z-index: 1;
  line-height: 24px; }

.tag-sale::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 12px solid #d70018; }

.letter-space-2 {
  letter-spacing: 2px; }

.a-hover-red:hover {
  text-decoration: 1px underline red !important; }

.a-hover-black:hover {
  text-decoration: 1px underline black !important; }

.bg-unwhite {
  background-color: #f3f4f6; }

.table-dashboard {
  width: 22%;
  height: 120px;
  border-radius: 8px;
  line-height: 120px;
  font-size: 1.6rem; }

.box-shadow-1 {
  box-shadow: rgba(51, 64, 81, 0.16) 0px 3px 6px, rgba(51, 64, 81, 0.23) 0px 3px 6px;
  border-radius: 8px; }

.bg-child-admin {
  background-color: #334051; }

.table-text-form td {
  vertical-align: middle; }
  .table-text-form td img {
    height: 100px; }

.table-text-form tr {
  max-height: 120px; }

.btn-danger {
  /* color: #fff; */
  /* background-color: #dc3545; */
  /* border-color: #dc3545; */ }

.btn-blue-custom {
  color: #fff;
  background-color: #50a4c4;
  border-color: #50a4c4; }

.btn-blue-custom:hover {
  color: #fff;
  background-color: #54a7c7d7;
  border-color: #54a7c7d7; }

.btn-dark-custom {
  color: #fff;
  background-color: #4e5c76;
  border-color: #4e5c76; }

.btn-dark-custom:hover {
  color: #fff;
  background-color: #4e5c76d5;
  border-color: #4e5c76d0; }

.img-preview-edit {
  width: 120px;
  height: 120px; }

.img-preview-edit-color {
  width: 80px;
  height: 80px; }
