<style>
    .img_empty{
       background-image: url("https://cdn.dribbble.com/users/150039/screenshots/15043316/media/d66c51a81f504f0b605cdc0fb37a0da5.png?compress=1&resize=1600x1200");
        height: 200px;
        width: 100%;
        border-radius: 8px;
        background-size: contain;
    }
    .content_empty{
        border-radius: 8px;
        padding: 8px 20px;
        background-color: #f14b4b;
    }
</style>
 <div class="mb-3 d-flex align-items-center bg-danger img_empty">
       <div class="m-auto fw-bold fs-4 content_empty">
           Hiện tại chưa có dữ liệu
       </div>
</div>

