<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background: linear-gradient(to right, #2c2c2c, #4e4438);">
  <!-- Section: Social media -->
  
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="py-3">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Dau Hieu
          </h6>
          <p>
            Trang web được tạo ra cho môn đồ án chuyên ngành
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Danh mục
          </h6>
          <p>
            <a href="/product" class="text-reset">Sản phẩm</a>
          </p>
          <p>
            <a href="/news" class="text-reset">Tin tức</a>
          </p>
          <p>
            <a href="/" class="text-reset">Khuyến Mãi</a>
          </p>
          <p>
            <a href="/tracuudonhang" class="text-reset">Tra cứu đơn hàng</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="/ca-phe" class="text-reset">Cà phê</a>
          </p>
          <p>
            <a href="/tra" class="text-reset">Trà</a>
          </p>
          <p>
            <a href="/da-xay" class="text-reset">Đá xay</a>
          </p>
          <p>
            <a href="/banh-ngot" class="text-reset">Bánh ngọt</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Trường đại học công nghệ sài gòn</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            asxi3011@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <!-- Copyright -->
</footer>
<!-- Footer -->