<div class="container pd-bd">
<div class="rounded d-flex flex-row-reverse">
  <div>
  <div class="btn btn-primary mx-3">
    <a class="nav-link  text-light" aria-current="page" href="/me/category">Category</a>
  </div>
  <div class="btn btn-success mx-3">
    <a class="nav-link text-light" href="/me/itemcategory">Item Category</a>
  </div>
   <div class="btn btn-dark mx-3">
    <a class="nav-link text-light" href="/me/product">Products</a>
  </div>
  </div>
</div>
</div>