<div class="header-web pd-tb">
    <div class=" container d-flex align-items-center justify-content-evenly">
        
        <a href="/" class="logo-header a-none mx-1 text-white fw-bold">
       <Span>CellPhones</Span>
         </a>
         <div class="choose-area-header">
                <button id="btnChooseArea" class="btn btn-danger mx-1 fs-min bd-rad"> Xem giá, tồn kho tại : <div class="d-flex align-items-center"><div class="fw-bold"> Hồ chí Minh</div> 
                <i class="fas fa-chevron-down mx-1"></i></div></button>
                <div class="area-header">
                    <ul class="lst-none pd-0 mg-0">
                        <li class="area-item fs-normal pd-area-header"> <i class="fas fa-map-marker-alt"></i> Hà Nội</li>
                  
                        <li class="area-item fs-normal pd-area-header"> <i class="fas fa-map-marker-alt"></i> Hồ Chí Minh</li>
                    </ul>
                </div>
         </div>
      
         <div class="search-header flex-fill mx-1 d-flex align-items-center">
        <input type="text" class="outline-none bd-rad bd-none form-control" placeholder="Bạn cần tìm gì ?">
        <i class="fas fa-search"></i>
         </div>
        <div class="call-header mx-1">
            <button class="btn text-white btn-header fs-normal bd-rad d-flex align-items-center">
                <span>
                    <i class="fas fa-phone fs-4 mx-2"></i> 
                </span>
                 <span>Gọi mua hàng  <div class="fw-bold">1800.2097</div></span>
            </button>
        </div>
         <div class="find-store-header mx-1">
          <a href="" class="a-none"><button href="/cua-hang" class="btn text-white btn-header fs-normal bd-rad a-none d-flex align-items-center ">  <i class="fas fa-map-marker-alt fs-4 "></i> <span class="mx-2">Tìm cửa hàng </span> </button></a>  
        </div>
          <div class="find-store-header mx-1">
            <button class="btn text-white btn-header fs-normal bd-rad d-flex align-items-center"> <i class="fas fa-shopping-bag fs-4 "></i></i> <span class="mx-2"> Giỏ hàng </span> </button>
        </div>

    </div>
   
</div>
 
 <script>
    document.addEventListener('DOMContentLoaded',function(){
        $('#btnChooseArea').on('click',function(){
            $('.area-header').toggle();
        })
    })
 </script>