 
 {{!-- {{#if data}} --}}
<div class="container pd-admin">
   <div class="pd-bd-admin box-shadow-1 text-white bg-child-admin">

      <form method="POST" action="/me/updateItemCategory?_method=PUT">
    <div class="d-flex my-2 align-items-center">  
        <div>
            <a href="/me/Itemcategory"><i class="fas fa-chevron-left"></i>Quay lại</a>
        </div>
    </div>
 
  <div id='appendListCategory'>
     
      {{#with data}}
      <div class="my-3">


        <label for="inputPassword5" class="form-label">Tên nhãn hàng</label>
        <input type="text" id="inputPassword5"  name="nameItemCategory" class="form-control" value="{{nameItemCategory}}">
        <input name="idItemCategory" type="text" value="{{_id}}" hidden>
        <button type="submit" class="btn btn-primary my-2 btn-restore" >Lưu</button>
      </div>
      {{/with}}
     
    
  </div>
  </form>
  </div>
</div>
<script>

</script>
 {{!-- {{else}}
           {{>Pagenotfound}}
{{/if}} --}}