<div class="container pd-bd">
    <h1>Danh Sách Category</h1>
<form method="POST" action="updateCategory">
  <div id="appendLineAddCategory">
    <div class="mb-3">
      
    <select name="nameCategory" class="form-control" id="slc_choose_category" required>
        <option value="">-Chọn category-</option>
        {{#each data}}
        <option value="{{this.nameCategory}}">{{this.nameCategory}}</option>
        {{/each}}
    </select>
   </div>

    <div class="mb-3">
    <h3  class="form-label">Danh sách các mục con</h3>
      <div id='appendContentListChild'>
    
      </div>
     
   </div>
  </div>
  <div class="mb-3 btn btn-success  w-100" id="btn_ThemLine_Category">
        +
  </div>

  <button type="submit" class="btn btn-primary" >Lưu</button>

</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded',function(){
     var btnThemLine = $('#btn_ThemLine_Category')
      var element_line_category = $('#appendLineAddCategory');
      var elemt_select_category = $('#slc_choose_category');
      var element_line_listChild = $('#appendContentListChild');
      
      var countElemet = 0;
       
        btnThemLine.on('click',function(){
          if(elemt_select_category.val()){
             countElemet++;
          console.log(countElemet);
          var name ='listCategory';
        element_line_category.append(renderLine(countElemet,name))
        var btn_of_line = $(`.btn-remove-Categroy-line-${countElemet}`);
         var parent_btn_of_line = $(`.number-element-${countElemet}`);
        btn_of_line.on('click',function(){
          parent_btn_of_line.remove();
       
        })
        }
        else{
          alert('Vui lòng chọn category')
        }


        })
  
      elemt_select_category.change(function(){
          if(elemt_select_category.val()){
          axios.post('getChildCategory', {
            nameCategory: elemt_select_category.val(),
          })
          .then(function (response) {
            const childCategory = response.data;
            var htmlListChild = [];
            var name='listCategory';
            childCategory.forEach(element=>{
              htmlListChild.push(renderList(element,name))
            }) 
           
              element_line_listChild.html(htmlListChild.join('')) ;
          })
          }
      })
      

  
  })

 
</script>