
<div class="container pd-admin">
   <div class="pd-bd-admin box-shadow-1 text-white bg-child-admin">

<div>
    <h3>Danh sách sản phẩm</h3>
    <div class="d-flex my-2 align-items-center justify-content-between">
      <a class="a-none btn btn-dark-custom" id="btn_Trash_Product">
          <i class="fas fa-trash"></i> Thùng rác 
         
      </a>
      <div class="d-flex gap-3"> 
      <span class="d-flex align-items-center gap-2">
      <input class="form-check-input" type="checkbox" value="" id="chkCheckAll"> <span>SelectAll</span> 
      </span>
      <button type="button" class="btn btn-danger" id="btn_Remove_Many"  data-bs-toggle="modal" data-bs-target="#ModalDeleteMany"disabled>
          Xoá các mục được chọn
      </button>
      </div>
    </div>
    <select name="idCategory" class="form-control" id="slc_choose_category" required>
        <option value="" selected hidden>-Chọn category-</option>
        {{#each dataCategory}}
        <option value="{{this._id}}">{{this.nameCategory}}</option>
        {{/each}}
    </select>
    
</div>
<div>
    
</div>
<form name="frmRemoveManyProduct" method="POST">
<div id="appendTable" class="my-3">

</div>
</form>
</div>
</div>
<form name="frmRemoveProduct" method="POST"></form>

<div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="TitleModalDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TitleModalDelete">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn xoá file này ?
        <div class="fs-normal text-danger"> (Các dữ liệu con bên trong sẽ biến mất.)</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
        <button type="button" class="btn btn-danger del-category" >Xoá </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalDeleteMany" tabindex="-1" aria-labelledby="TitleModalDeleteMany" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="TitleModalDeleteMany">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn xoá những file này ?
        <div class="fs-normal text-danger"> (Các dữ liệu con bên trong sẽ biến mất.)</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
        <button type="button" class="btn btn-danger del-many-category" >Xoá Tất Cả</button>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCancel" hidden>
  
</button>

<!-- Modal -->
<div class="modal fade" id="modalCancel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content d-flex" style="background-color: #dbdbbd;">
      
      <div class="p-3">

     
      <div class="m-auto text-white fs-3 text-center">
          <img class="img-50" src="https://img.freepik.com/free-vector/young-angry-man-mad-expression-vector-illustration_76775-255.jpg?size=338&ext=jpg" alt="">
      </div>
      <div class="text-center fw-bold fs-2 my-3">
          Vui lòng chọn category
      </div>
      <div class="text-center my-3">
          <button class="btn btn-warning fw-bold" data-bs-dismiss="modal"> Đồng ý</button>
      </div>
       </div>
    </div>
  </div>
</div>

<form method="GET" name="renderEDIT"></form>
<script>
  document.addEventListener('DOMContentLoaded',function(){
      var elemt_select_category = $('#slc_choose_category');
      var slc_select_Itemcategory = $('#slc_choose_Itemcategory');
      var notifycation_validation_slc_Category =$('#notifycation_validation_slc_Category');
      var appenHTMLSpecification_products = $('#appenHTMLSpecification_products');
      var btn_Trash_Product = $('#btn_Trash_Product');
      var btnThemLine = $('#btn_ThemLine_Specification');
      var btn_ThemMau = $('#btn_ThemMau');
      var appendInputColor = $('#appendInputColor');
      var appendTable =$('#appendTable');
      var countElemet = 0;
      var countMauElement =0;
      var checkboxName = "chkName[]";
      var CategoryItemcheckbox = $('input[name="chkName[]"]');
      var btnSubmit = $('#btnSubmit');
      var frmRemoveProduct = document.forms['frmRemoveProduct'];
      var CategoryKey = 'SelectCategoryProduct'
      var categorySelected = sessionStorage.getItem(CategoryKey);
      var chkCheckAll = $('#chkCheckAll');
      var btn_Remove_Many = $('#btn_Remove_Many');
     var renderEDIT = document.forms['renderEDIT'];
     
      elemt_select_category.val(categorySelected);
      loadDuLieu();

      elemt_select_category.change(function(){
        if(elemt_select_category.val()==""){
          $('#modalCancel').modal("show");
          var categorySelected = sessionStorage.getItem(CategoryKey);
           elemt_select_category.val(categorySelected);
        }
          loadDuLieu();
      })
      
      var ModalDelete = document.getElementById('ModalDelete')
        ModalDelete.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var idProduct = button.getAttribute('data-idItemCategory')
        var delCategory=document.querySelector('.del-category');
         
          delCategory.onclick =function(){
            frmRemoveProduct.action = `removeProduct/${idProduct}?_method=DELETE`;
            frmRemoveProduct.submit();
          }
      
      })

        var ModalDeleteMany = document.getElementById('ModalDeleteMany')
      //Show Modal DeleteMany
        ModalDeleteMany.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal  
        var button = event.relatedTarget;
          var delCategory=document.querySelector('.del-many-category');
        delCategory.onclick =function(){
            var frmRemoveManyItemCategory = document.forms['frmRemoveManyProduct'];
             frmRemoveManyItemCategory.action=`removeManyProduct/?_method=DELETE`;
             frmRemoveManyItemCategory.submit();
        }

        
      })
   
    function loadDuLieu(){
    if(elemt_select_category.val() != "")
          {
              sessionStorage.setItem(CategoryKey,elemt_select_category.val());
              var id =elemt_select_category.val();
               console.log(id);
             const item = getListProduct(id);
               btn_Trash_Product.on("click",function(){
                btn_Trash_Product.attr("href",`binProduct/${id}`)
              })
              item.then(response=>{  
            if(response.data.dataProduct.length>0){
                         
                    var product = response.data.dataProduct;
                   
                    
                    var htmlRowTable = [];
              product.forEach((element,index)=>{
                
                console.log(element.imageRepresent);
                htmlRowTable.push(renderTableListProduct(index+1,element.nameProduct,element.imageRepresent,element.priceStandard,element.status,element._id))
              })
              if(htmlRowTable != ""){
                var htmlFullTable = renderTableProduct(htmlRowTable.join(" "));
                appendTable.html(htmlFullTable);
                  checkboxValidation(chkCheckAll,checkboxName,CategoryItemcheckbox,btn_Remove_Many);
                }
               
            }
             else{
                      
                      appendTable.html(empty());
                }
          })  
          }
    else{
       notifycation_validation_slc_Category.html(`<div class="text-danger">Vui lòng chọn category</div>`);
       slc_select_Itemcategory.html("");    
       slc_select_Itemcategory.attr('disabled','disabled');

    }
      
    }
    
   async function getListCategory(id){
      try{
        const reponse = await axios.get(`getItemCategory/${id}`)
        return reponse
      }  
      catch (error){
        console.log(error);
      }
    }
     async function getListProduct(id){
      try{
        const reponse = await axios.get(`getProduct/${id}`)
        return reponse
      }  
      catch (error){
        console.log(error);
      }
    }
  })
 
</script>